body {
    font-size: 14pt;
    font-family: sans-serif;
    color: #ffffff;
    background: #0B0B11
}
video{
  border-radius: 3px;
}
h1{
  text-align: center;
}
img{
  height: 150px;
  width: 100%;
  border-radius: 2px;
}
p{
  bottom: 182px;
  text-align: center;
}
